body {
  font-family: Arial;
  font-size: 13px;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}

li {
  float: left;
  padding: 10px;
}

li a {
  display: block;
  text-decoration: none;
  color: black;
}

input {
  color: #696969;
  background-color: whitesmoke;
  border-radius: 5px;
  border: 1px solid whitesmoke;
  font-size: 15px;
  padding: 10px 12px;
  margin: 0 3px 10px 3px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 22%;
  padding: 186px 0 0 0;
}

.right {
  float: right;
}

#search {
  width: 600px;
  border-radius: 40px;
  border: 1px solid lightgray;
  height: 45px;
  background-color: white;
  padding: 0 0;
}
